<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Add Form</title>
</head>
<body>

    <div class="container">
        <h3 class="mt-1">Cars Directory</h3>
        <hr>
        <p class="h4 mb-4">Save Car</p>

        <!-- @RequestMapping(/cars) @GetMapiing(/save) -->
        <form action="#" th:action="@{/cars/save}" th:object="${car}" method="POST">

            <input type="text" th:field="*{brand}" class="form-control mb-4 w-25" id="brand" name="brand" placeholder="Brand">
                <p th:if="${#fields.hasErrors('brand')}" class="text-danger" th:errors="*{brand}"></p>


            <input type="text" th:field="*{model}" class="form-control mb-4 w-25" id="model" name="model" placeholder="Model">
                <p th:if="${#fields.hasErrors('model')}" class="text-danger" th:errors="*{model}"></p>


            <input type="text" th:field="*{color}" class="form-control mb-4 w-25" id="color" name="color" placeholder="color">
                <p th:if="${#fields.hasErrors('color')}" class="text-danger" th:errors="*{color}"></p>


            <input type="text" th:field="*{vin}" class="form-control mb-4 w-25" id="vin" name="vin" placeholder="ten digits VIN">
                <p th:if="${#fields.hasErrors('vin')}" class="text-danger" th:errors="*{vin}"></p>


            <input type="text" th:field="*{rented}" class="form-control mb-4 w-25" id="rented" name="rented" placeholder="rented">
                <p th:if="${#fields.hasErrors('rented')}" class="text-danger" th:errors="*{rented}"></p>


            <input type="text" th:field="*{fixing}" class="form-control mb-4 w-25" id="fixing" name="fixing" placeholder="fixing">
                <p th:if="${#fields.hasErrors('fixing')}" class="text-danger" th:errors="*{fixing}"></p>


            <button type="submit" class="btn btn-info col-2 ">Save</button>
        </form>

        <hr>
        <a th:href="@{/cars/list}">Back to Cars List</a>

    </div>

</body>
</html>